/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #fe9800;
  --ifm-color-primary-dark: #e58900;
  --ifm-color-primary-darker: #d88100;
  --ifm-color-primary-darkest: #b26a00;
  --ifm-color-primary-light: #ffa218;
  --ifm-color-primary-lighter: #ffa725;
  --ifm-color-primary-lightest: #ffb74b;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fe9800;
  --ifm-color-primary-dark: #e58900;
  --ifm-color-primary-darker: #d88100;
  --ifm-color-primary-darkest: #b26a00;
  --ifm-color-primary-light: #ffa218;
  --ifm-color-primary-lighter: #ffa725;
  --ifm-color-primary-lightest: #ffb74b;
}
